@charset "utf-8";

/*---------------------------------
Common
----------------------------------*/

.body {
  max-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  transition: all 0.5s;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

/*---------------------------------
Header
----------------------------------*/

#header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1000;
}

.header-logo {
  width: 180px;
}

/*----------------------------
Hamburger
-----------------------------*/

/* ボタン外側 */
.openbtn {
  position: relative;
  width: 30px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}

/* ボタン内側 */

.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  right: 13px;
  height: 2px;  /* 線の太さ */
  background-color: #000;
}

/* クリック前 */

.openbtn span:nth-of-type(1) {
  top: 20px;
  width: 100%;
}

.openbtn span:nth-of-type(2) {
  top: 30px;
  width: 100%;
}

/* クリック後　activeをクラス付与して線が回転して×に */

.openbtn.active span:nth-of-type(1) {
  top: 20px;
  right: 16px;
  transform: translateY(5px) rotate(-45deg);
}

.openbtn.active span:nth-of-type(2) {
  top: 30px;
  right: 16px;
  transform: translateY(-5px) rotate(45deg);
}

#nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -120%;
  width: 250px;
  height: 100vh;
  background-color: #333;
  transition: all .5s;
  color: #fff;
  opacity: 0.9;
}

#nav.panelactive {
  left: 0;
}

.nav-menu {
  margin-left: 50px;
  margin-top: 36px;
}

.nav-menu a {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.nav-menu li {
  margin-bottom: 14px;
}


/*---------------------------------
Main
----------------------------------*/

main {
  margin-top: 80px;
  margin-bottom: 120px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px 40px;
  margin-bottom: 40px;
}

.item {
  font-size: 12px;
}

.item img {
  margin-bottom: 10px;
}

.button {
  text-align: center;
  font-size: 12px;
}

/*---------------------------------
Footer
----------------------------------*/

#footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.sns-link {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

#footer p {
  font-size: 10px;
}


/*---------------------------------
Products.html
----------------------------------*/

.products-title {
  color: #333;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.page-nation {
  display: flex;
  justify-content: center;
}

.page {
  margin-left: 40px;
  font-size: 14px;
}

.space {
  margin-bottom: 360px;
}

/*---------------------------------
 About.html
----------------------------------*/

.block {
  max-width: 600px;
  margin-bottom: 380px;
}

.block p {
  font-size: 14px;
}

.block p:first-child {
  margin-bottom: 30px;
}

/*---------------------------------
 Product1~16.html
----------------------------------*/

.product {
  max-width: 800px;
  display: flex;
  gap: 64px;
  margin-bottom: 60px;
}

.product img {
  width: 400px;
  height: 400px;
  transition: 0.5s;
}

.product img:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.product p {
  font-size: 14px;
  margin-bottom: 30px;
}

.product table {
  font-size: 14px;
}

.product th {
  font-weight: normal;
  text-align: left;
}

.product td {
  padding-left: 14px;
}

/* モーダルウィンドウ */

.modal {
  position: fixed;
  bottom: -100vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1360px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  transition: bottom 0.8s, opacity 0.5s; /*下から上にスライドするアニメーション　*/
  opacity: 0;
  overflow: hidden;
}

.modal.show {
  bottom: 0; /* 表示時の位置 */
  opacity: 1;
}

.bigimg {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 150px;
}

.bigimg img {
  width: 100%;
}

.close-btn {
  color: #333;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 150px;
}

.close-btn a {
  color: #333;
  text-decoration: none;
}


/*---------------------------------
 Company.html
----------------------------------*/

.company-block {
  max-width: 600px;
}

.company-block dl {
  color: #333;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.company-block dt {
  width: 30%;
  padding: 20px 10px;
  border-top: 1px solid #dcdbcb;
}

.company-block dd {
  width: 70%;
  padding: 20px 10px;
  border-top: 1px solid #dcdbcb;
}
.company-block dt:first-child {
  border-top: none;
}

.company-block dd:first-child {
  border-top: none;
}

.map {
  filter: grayscale(1);
}

/*---------------------------------
 responsive
----------------------------------*/

@media (max-width: 900px) {

main {
  margin-top: 80px;
  margin-bottom: 120px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px 40px;
  margin-bottom: 40px;
}

#footer {
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px;
}

.sns-link {
  margin-bottom: 10px;
}

.products-title {
  margin-top: 120px;
}

.company-block dl {
  color: #333;
  font-size: 14px;
  flex-direction: column;
  margin-bottom: 40px;
}

.company-block dt {
  width: 100%;
  padding: 20px 0 10px 10px;
  border-top: 1px solid #dcdbcb;
}

.company-block dd {
  width: 100%;
  padding: 0 0 20px 10px;
  border-top: 1px solid #dcdbcb;
}
.company-block dt:first-child {
  border-top: none;
}

.company-block dd {
  border-top: none;
}

.product {
  max-width: 800px;
  flex-direction: column;
  margin-bottom: 60px;
}

.product img {
  width: 100%;
  height: auto;
}

.product p {
  font-size: 14px;
  margin-bottom: 30px;
}

.product table {
  font-size: 14px;
}

.product th {
  font-weight: normal;
  text-align: left;
}

.product td {
  padding-left: 14px;
}


.space {
  margin-bottom: 0;
}

}
